{{!-- Use this file to show posted items --}}

<div class="flex-column justify-space-around">
  <h2>{{listing.name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{listing.description}}</p>
  <p>Created by {{listing.user.name}} on {{listing.upload_date}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{listing.price}}</span>
  </p>
  <p>
  <form action="/checkout" method="GET">
    <input type="hidden" name="listing" value="{{listing.id}}">
    <button type="submit" class="btn btn-primary purchase-btn">Purchase This Item!</button>
  </form>
  </p>
</div>

